<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="email_Server" value="mail.gmx.net" />
    <add key="email_von_an" value="konfiguration@gmx.net" />
    <add key="port" value="587" />
    <add key="GhZfrgWRGwr57456DGWferGF$ZG" value="!Moglie1972de!" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ConnectionString" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=\\Fritz-nas\fritz.nas\EXTERNE_HDD\Datenbank\Rechnerdaten.accdb;Persist Security Info=False;"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>